<html>
    <head>
        <%- include('partials/bootstrap') %>
        <title>Admin - Bread</title>
    </head>
    <body>
        <%- include('partials/navbarAdmin') %>
        <table class="table table-sm">
            <a href="bread/add">Add Bread</a>
            <tr>
                <th class="table-info">No</th>
                <th class="table-info">Name</th>
                <th class="table-info">Chef</th>
                <th class="table-info">Price</th>
                <th class="table-info">Categori</th>
                <th class="table-info">Actions</th>
            </tr>
            <% no=1 %>
            <% for(let i=0; i<data.length; i++){ %>
                <tr>
                    <td><%= no++ %></td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].chef%></td>
                    <td><%= data[i].price%></td>
                    <td><%= data[i].category %></td>
                    <td><a href="bread/edit/<%=data[i].id%>">Edit</a>
                        <a href="bread/delete/<%=data[i].id%>" >Hapus</a>
                    </td>
                </tr>
            <% } %>
        </table>
    </body>
    <foot>
        <%- include('partials/footer') %>
    </foot>
</html>
