<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/bootstrap') %>
    <title>Edit Form</title>
</head>
<body>
    <section style="max-width: 70%; margin: 0 auto;">
        <%- include('partials/navbarAdmin') %>
        <form action="/bread/edit/<%= data.id %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Name :</label>
                <input type="text" class="form-control" name="name"  value="<%= data.name %> ">
              </div>
              <div class="form-group">
                  <label>Chef :</label>
                  <input type="text" class="form-control" name="chef"  value="<%= data.chef %> ">
              </div>
              <div class="form-group">
                  <label>Price :</label>
                  <input type="text" class="form-control" name="price"  value="<%= data.price %> ">
              </div>
              <div class="form-group">
                <label>Category :</label>
                <select class="form-control" name="category">
                  <option value="fiksi" name="category" id="fiksi">Fiksi</option>
                  <option value="nonfiksi" name="category" id="nonfiksi">Non fiksi</option>
                </select>
              </div>
              <div class="form-group">
                <label for="image">Image: </label>
                <input class="form-control-file" type="file" id="image" name="image">
              </div>
            <br><button type="submit" class="btn btn-primary">update</button>
            <br><a href="/breadAdmin">cancel</a>
          </form>
    </section>
</body>
<foot>
    <%- include('partials/footer') %>
</foot>
</html>
