<html>
    <head>
        <%- include('partials/bootstrap') %>
        <title>Home</title>
        <style>
            .book-item .book-title {
                height: 3em;
                font-size: 1.3em;
                overflow: hidden;
                font-weight: bold;
            }

            .book-item .book-price {
                color: #f90f36;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <%- include('partials/navbar') %>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Selamat Datang</h1>
                <p class="lead">Silakan melihat koleksi buku-buku kami</p>
                <!-- <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
            </div>
            <div class="book-list mb-4">
                <h1>Books</h1>
                <div class="row">
                    <% books.forEach(book => { %>
                    <div class="col-6 col-md-3">
                        <div class="book-item p-3 my-3 border text-center">
                            <img src="<%= book.image %>" class="img-fluid" alt="book image">
                            <div class="book-title"><%= book.title %></div>
                            <div class="book-author"><%= book.author %></div>
                            <div class="book-price"><%= toIndonesianRupiah(book.price) %></div>
                            <a href="/buy/<%= book.id %>" class="btn btn-primary w-100">Beli</a>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </body>
    <foot>
        <%- include('partials/footer') %>
    </foot>
</html>