<html>
    <head>
        <%- include('partials/bootstrap') %>
        <title>Home</title>
        <style>
            .bread-item .bread-name {
                height: 3em;
                font-size: 1.3em;
                overflow: hidden;
                font-weight: bold;
            }

            .bread-item .bread-price {
                color: #f90f36;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <%- include('partials/navbar') %>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Selamat Datang</h1>
                <p class="lead">Silakan melihat koleksi roti kami</p>
                <!-- <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
            </div>
            <div class="bread-list mb-4">
                <h1>Breads</h1>
                <div class="row">
                    <% breads.forEach(bread => { %>
                    <div class="col-6 col-md-3">
                        <div class="bread-item p-3 my-3 border text-center">
                            <img src="<%= bread.image %>" class="img-fluid" alt="bread image">
                            <div class="bread-name"><%= bread.name %></div>
                            <div class="bread-author"><%= bread.author %></div>
                            <div class="bread-price"><%= toIndonesianRupiah(bread.price) %></div>
                            <a href="/buy/<%= bread.id %>" class="btn btn-primary w-100">Beli</a>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </body>
    <foot>
        <%- include('partials/footer') %>
    </foot>
</html>
